<form action="http://192.168.11.101/aq/services/requester.php/prepare_request" method="post" >

<input type="text" name="distance" value="50">
<input type="text" name="productHeight" value="5">
<input type="text" name="productHeightUnit" value="inch">
<input type="text" name="productWeightUnit" value="inch">
<input type="text" name="productLength" value="5">
<input type="text" name="productLengthUnit" value="inch">
<input type="text" value="" name="productWidthUnit" >
<input type="text" value="" name="productWidt">
<input type="text" value="" name="productCost">
<input type="text" value="" name="userName">
<input type="text" value="" name="productTitle">
<input type="text" value="" name="pickupAddress">
<input type="text" value="" name="pickupAddress2">
<input type="text" value="" name="pickupCity">
<input type="text" value="" name="pickupState">
<input type="text" value="" name="pickupCountry">
<input type="text" value="" name="pickupPinCode">
<input type="text" value="" name="pickuplat">
<input type="text" value="" name="deliveryAddress2">
<input type="text" value="" name="deliveryCity">
<input type="text" value="" name="deliveryState">
<input type="text" value="" name="deliveryCountry"
<input type="text" value="" name="deliveryPincode">
<input type="text" value="" name="deliverylong">
<input type="text" value="" name="deliverylat">
<input type="text" value="" name="pickUpDate">
<input type="text" value="" name="deliveryDate">
<input type="text" value="" name="returnAddress">
<input type="text" value="" name="returnAddress2">
<input type="text" value="" name="returnCity">
<input type="text" value="" name="returnState">
<input type="text" value="" name="returnCountry">
<input type="text" value="" name="returnPincode">
<input type="text" value="" name="flexibleDeliveryDate">
<input type="text" value="" name="journyType">
<input type="text" value="" name="productWeight">
<input type="text" value="" name="productWeightUnitId">
<input type="text" value="" name="productHeightUnitId">
<input type="text" value="" name="category">
<input type="text" value="" name="productLengthUnitId">
<input type="text" value="" name="productWidthUnitId">
<input type="text" value="" name="boxQuantity">
<input type="text" value="" name="description">
<input type="text" value="" name="insuranceStatus">
<input type="text" value="" name="packageMaterial">
<input type="text" value="" name="insurance">
<input type="text" value="" name="shippingCost">
<input type="text" value="" name="totalCost">
<input type="text" value="" name="pickUpTime">
<input type="text" value="" name="deliveryTime">
<input type="text" value="" name="pickuplong">
<input type="text" value="" name="deliveryAddress">

<input type="submit">
</form>
