@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Regular.ttf');
}
.footer-list a {
    text-decoration: none !important;
    color: #FFF !important;
}
.second-f a {
  color: #fff;
}
body,
html {
	outline:none;
    font-family: roboto;
    overflow-x: hidden !important;
}
a,button{outline:none !important;}
.sitemap-style{padding-left:8%;}
.footer-list {
  padding-left: 0;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('../images/preloader.gif') no-repeat center center; }



.modal-footer {
    text-align: center !important;
}
.slider {
    background: url(../images/slider_img_01.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
.network-bg {
    background: url(../images/map.png);
    background-size: cover;
    height: 600px;
}
.download-bg {
    background: url(../images/slider_img_02.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.first-half {
    background: url(../images/driver_bg.png);
    background-size: cover;
}
.Work-bg {
    background: url(../images/driver_intern_bg.png);
    background-size: 100%;
}
.blue-bg {
    background: #219ED4;
    background-size: 100%;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{z-index:1 !important;}

.navbar-brand img {
    height: 70px;
}
.navbar-brand {
    height: auto;
    padding: 5px;
}
.nav.navbar-nav.navbar-right a {
    padding-bottom: 26px;
    padding-top: 30px;
}
.landing-sec {
    height: 500px;
	margin-top:50px;
}
.offset-150{margin-top:150px;}
.heading1 {
    font-family: Roboto-bold !important;
    font-size: 40px;
    text-transform: uppercase;
}
.heading2 {
    font-family: Roboto-bold !important;
    color: #219ED4;
    font-size: 30px;
    margin-bottom: 20px;
}
.heading-custom {
    font-family: Roboto-bold !important;
    color: #219ED4;
    font-size: 30px;
    margin-bottom: 40px;
}
.heading3 {
    font-size: 24px;
    color: #000;
}
.heading4 {
    font-size: 20px;
}
.color-white {
    color: white;
}
.nav.navbar-nav.navbar-right a {
    border-bottom: 4px solid transperent;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 4px solid #1FA0D8;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.landing-txt {
    margin-top: 20px;
    font-size: 16px;
}
.play-store-btn {
    margin-top: 50px;
}
.play-store-btn1 {
    margin: 20px auto 0;
    width: 370px;
}
.appstore {
    float: left;
}
.gplay {
    float: left;
    margin-right: 10px;
}
p {
    color: #7f7f7f;
    line-height: 25px;
    font-size: 16px !important;
}
.section-custom {
    padding-top: 50px;
    padding-bottom: 80px;
}
.fancy-list li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.fancy-list li::before {
    content: url("../images/check@3x.png");
    display: block;
    float: left;
    margin-left: -40px;
    margin-top: -5px;
    width: 10px;
}
.circle-holder{transition:all .5s;}

.col-md-4.col-sm-4.circle-holder.text-center:hover .circle-icon.list-animation {
  transform: scale(.8);
    -ms-transform: scale(.8);
    -webkit-transform: scale(.8);
}

.second-img1, .second-img2, .second-img3 {
  position: absolute;
  z-index: 2;
  top:25px;
  
  transform:translateY(100px);
  opacity:0;
}
.second-img1.animation-img1, .second-img2.animation-img1, .second-img3.animation-img1 {
  transition:1s all .5s;
  transform:translateY(0px);
  opacity:1;
}
.circle-icon.list-animation{
	opacity: 1;
	transform: translateY(0px);
	}
.circle-icon {
	border-radius: 50%;
	opacity: 0;
	transform: translateY(150px);
    transition: all 1s;
    background: #44aee0 none repeat scroll 0 0;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    line-height: 150px;
}
.circle-icon {

    border-radius: 50%;

	
}
.circle-icon img {
  transition: all 0.7s ease 0s;
  width: 100px;
}


.state-list li span {
    color: #fff !important
}
.state-list li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.state-list li::before {
    content: url("../images/maplist.png");
    display: block;
    float: left;
    margin-left: -40px;
    margin-top: -5px;
    width: 10px;
}
.offset-top-btm70 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.light-bg {
    background: #f3f3f3;
}
.feature-list {
    padding-left: 0px;
}
.feature-list li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.feature-list img {
    width: 70px;
}
.feature-list li:hover {
    color: #219ED4 !important;
}
.contact-sec {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 39px -10px;
    margin-top: 3%;
    padding: 30px;
    position: absolute;
    right: 4%;
    width: 40%;
}
.relative {
    position: relative;
}
.footer {
    background: #32394B;
    padding-bottom: 0px;
}
.footer .heading3 {
    color: #fff;
}
.social-icon > div {
    width: 20% !important;
    float: left;
}
.social-media.clearfix {
    width: 150px !important;
}
.social-icon-facebook:hover {
    color: #fff;
    background: #5972A8;
}
.social-icon-twitter:hover {
    color: #fff;
    background: #32CDFD;
}
.social-icon-instagram:hover {
    color: #fff;
    background: #37648D;
}
.social-icon-facebook {
    background: #fff;
    color: #5972A8;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
}
.social-icon-twitter {
    background: #fff;
    color: #32CDFD;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
}
.social-icon-instagram {
    background: #fff;
    color: #37648D;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
}
.social-media i {
    font-size: 20px;
}
.second-f {
    background: #252C3E;
    padding: 10px;
    color: #FFF;
}
.footer li {
    color: #fff;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer .customf {
    margin-bottom: 50px !important;
}
.social-media.clearfix {
    width: 100%;
}
.bg-green.hover {
    background: #71E075;
    padding: 30px;
}
.bg-yellow.hover {
    background: #E5CA7E;
    padding: 30px;
}
.bg-pink.hover {
    background: #EFB5BA;
    padding: 30px;
}
/*.hover >.img-frame {
	
    margin: 0 auto;
    width: 30%;
}*/

#hover-effect:hover .pera {
    display: block;
}
#hover-effect:hover .pera1 {
    display: block;
}
#hover-effect {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}
#hover-effect:hover {
    background-color: #3c4458;
}
#hover-effect .img-frame {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0 auto;
    width: 60%;
}
#hover-effect:hover .img-frame {
    margin: 0 auto;
    width: 30%;
}
.img-frame {
    -moz-transition: width width 2s;
    -webkit-transition: width width 2s;
    transition: width width 2s;
    margin: 0 auto;
    width: 60%;
}
.img-circle:hover:after {
    -webkit-transform: scale(0.85) 2s;
    -moz-transform: scale(0.85) 2s;
    -ms-transform: scale(0.85) 2s;
    transform: scale(0.85) 2s;

}
.img-circle:hover i {
    color: #fff;
}
.stat-heading {
    color: #fff;
    font-size: 42px;
    margin-top: 20px;
    text-align: center;
}
.heading5 {
    font-size: 20px;
}
.hover > .img-frame img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}
.img-frame img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.col-md-4 bg-green hover > * {
    -webkit-transition: all width 2s;
    /* Safari 3.1 to 6.0 */
    
    transition: all width 2s;
}
.col-md-4 bg-green >* {
    -webkit-transition: all width 2s;
    /* Safari 3.1 to 6.0 */
    
    transition: all width 2s;
}
/*.pera1 li {
    background: #3c4458 none repeat scroll 0 0;
    border: medium none;
    padding: 10px 0 30px;
}
.txt1{width:70%; float:left;}
.txt2{width:30%; float:left;}*/

.hover .pera {
    display: block;
}
/*.hover .pera1 {
    display: block;
}*/

.pera {
    display: none;
    padding-bottom: 20px;
}
/*.pera1 {
    display: none;
	padding-bottom: 5px;
}*/

.view a.info {
    opacity: 0;
}
.view.view-first:hover .info {
    transition: .5s all .5s;
    opacity: 1;
    margin-top: 20px;
}
.view.view-first:hover .mask {
    transform: scale(1, 1);
}
.view.view-first:hover img {
    transform: scale(1.5, 1.5);
}
.view.view-first img {
    transform: scale(1, 1);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.mask {
    /*transform: scale(0, 0);*/
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.mask div {} .view.view-first > img {
    width: 100%;
}
.view {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,
.view .content {
    background: url(../images/transp_bg.png);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.custom-btn1 > span > i {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 0px;
}
.custom-btn1 {
    cursor: pointer;
    background: #219ED4 none repeat scroll 0 0;
    border: medium none;
    /* border-radius: 4px;*/
    
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    float: left;
    color: #fff;
}
.custom-btn1 span {
    position: relative;
    z-index: 2;
}
.custom-btn-h {
    background: #000 none repeat scroll 0 0;
    height: 45px;
    opacity: 0.2;
    margin-left: -42px;
    margin-top: -30px;
    position: absolute;
    transform: skewX(30deg);
    width: 10px;
    z-index: 1;
    transition: .5s all;
}
.custom-btn1:hover .custom-btn-h {
    width: 150%;
}
.custom-btn {
    background: #219ED4;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
.custom-btn2 > div,.custom-btn1 > div{text-align:center;}
.custom-btn2 > span > i {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 0px;
}
.custom-btn2 {
    cursor: pointer;
    background: #fff none repeat scroll 0 0;
    border: medium none;
    /*border-radius: 4px;*/
    
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    float: left;
    color: #000;
}
.custom-btn2 span {
    position: relative;
    z-index: 2;
}
.custom-btn-h {
    background: #000 none repeat scroll 0 0;
    height: 45px;
    opacity: 0.2;
    margin-left: -40px;
    margin-top: -30px;
    position: absolute;
    transform: skewX(30deg);
    width: 10px;
    z-index: 1;
    transition: .5s all;
}
.custom-btn2:hover .custom-btn-h {
    width: 150%;
}
.view a.info {
    color: #fff;
    display: inline-block;
    left: 0;
    position: absolute;
    transition: 1s all 1s;
    transform: translateY(0px));
    top: 50%;
    width: 100%;
}
.mask > div {
    display: inline-block;
    position: absolute;
    padding: 7px 14px;
    font-size: 30px;
    width: 100%;
    top: 40%;
    left: 0;
    color: #fff;
    transition: 1s all 1s;
}
.mask > div {
    transform: scale(1, 1);
}
.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.view.view-tenth {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.view-tenth:hover img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*.one > .stat-heading.counter {

    background: #28D8B2 none repeat scroll 0 0;
}
.two > .stat-heading.counter {

    background: #FBD046 none repeat scroll 0 0;
}
.three > .stat-heading.counter {

    background: #51B8F2 none repeat scroll 0 0;
}*/

.stat-heading.counter {
    /*border-radius: 100%;
    height: 200px;
	width: 200px;*/
    
    line-height: 100px;
    color: #219ED4 !important;
    font-family: Roboto-bold;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    margin: 0 auto;
}
.right-animation img {
    transform: translateX(0px) !important;
    opacity: 1 !important;
    transition: .7s ease-in;
}
#phone2 {
    margin-top: 80px;
}
#phone2 img {
    transform: translateX(600px);
    opacity: 0;
}
#phone4 {
    margin-top: 80px;
}
#phone4 img {
    transform: translateX(600px);
    opacity: 0;
}
.left-animation img {
    transform: translateX(0px) !important;
    opacity: 1 !important;
    transition: .7s ease-in;
}
#phone1 img {
    transform: translateX(-600px);
    opacity: 0;
}
.fancy-list.list-animation {
    transform: translateX(0px) !important;
    opacity: 1 !important;
    transition: .7s ease-in;
}
.fancy-list {
    transform: translatey(50px);
    opacity: 0;
}
.navbar-default {
    background-color: #242527;
    border-color: #242527;
}
.navbar.navbar-default.nav-bg.responsive {
    background: transparent none repeat scroll 0 0;
    border-color: transparent;
}
.navbar.navbar-default.nav-bg.responsive.navbar-fixed-top {
    background: #32394B none repeat scroll 0 0;
    border-color: #32394B;
	transition: all .5s ease;
}
#phone1.slide img {
  transform: translateX(0px) !important;
  transition: all 1s ease 1s;
  opacity: 1;
}

.modal-open {
    padding-right: 0px !important;
}
.modal-header {
    background: #219ED4;
    color: #fff
}
.heading2 {
    padding-top: 50px;
}
.footer-logo{width:22%; float:left; padding-right:10px;}
.footer-logo + p*{float:left;}
@media screen and (max-width: 1200px) {
    .responsive-img {
        width: 100%;
    }
    .stat-heading.counter {
        font-size: 36px;
        height: 74px;
    }
    @media screen and (max-width: 1024px) {
        .slider {
            background: url(../images/slider_img_01.jpg);
            background-attachment: unset;
            background-size: auto 100%;
        }
        .network-bg {
            background: url(../images/map.png) no-repeat;
            background-attachment: unset;
            background-size: 100%;
        }
        .mask > div {
            font-size: 16px;
        }
        #sec4 .heading3 {
            text-align: left;
        }
        .play-store-btn {
            width: 100%;
        }
        .play-store-btn div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .feature-list li {
            text-align: left;
        }
    }
    @media screen and (max-width: 767px) {
		.sitemap-style{padding-left:15px;}
		.footer-logo{float:none;}
		.navbar.navbar-default.nav-bg.responsive{
    background: #333333 none repeat scroll 0 0;
    border-color: #333333;
	transition: all .5s ease;
}
		 .contact-sec {
            background: #fff none repeat scroll 0 0;
            left: 8% !important;
            margin-top: 10%;
            padding: 30px;
            position: absolute;
            width: 90%;
            border-radius: 10px;
        }
		.second-f div {
    text-align: center !important;
}
		.circle-holder{width:33%; float:left;}
        .custom-btn2, .custom-btn1 {
            width: 100%;
			text-align:center;
        }
        .social-media.clearfix {
            width: 200px !important;
        }
        .view a.info {
            top: 60%;
        }
        .custom-btn {
            width: 100%;
        }
        .Work-bg {
            background-size: cover;
        }
        .nav.navbar-nav.navbar-right a {
            border-bottom: none !important;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .half-sec .btn {
            width: 100%;
        }
        .nav.navbar-nav.navbar-right a:hover {
            background: #1e1e1e ;
        }
        .view.view-first {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .slider {
            padding-bottom: 50px;
        }
        .play-store-btn1 {
            margin: 0 auto;
            width: 370px;
        }
        
        .social-icon {
            width: 33%;
            float: left;
        }
        .navbar-brand img {
            height: 40px;
        }
        .responsive-img {
            width: 50%;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 640px) {
		.footer .customf .col-md-6.col-sm-6 {
  			text-align: center;
		}
		.circle-holder{width:100%; float:left;}
        .feature-list li img {
            display: block;
            margin: 0 auto;
        }
        .footer-list {
            text-align: center;
        }
        address {
            text-align: center;
        }
        .social-media.clearfix {
            margin: 0 auto;
            text-align: center;
        }
       
        .heading3,
        .heading4 {
            text-align: center !important;
        }
        p {
            text-align: center;
        }
        #sec4:nth-child(2) {
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 480px) {
		.circle-holder{width:100%; float:left;}
        .resize {
            width: 100%;
            margin: 0;
        }
        .play-store-btn1 {
            margin: 0 auto;
            width: 180px;
        }
        .play-store-btn {
            margin: 0 auto;
            width: 180px;
        }
        .social-media.clearfix {
            width: 100px;
            margin: 0 auto;
        }
        .footer li,
        .footer p,
        .footer div,
        .footer .social-media {
            text-align: center;
        }
        .play-store-btn1 div {
            margin-bottom: 5px;
            margin-top: 5px;
            width: 100%;
        }
        .responsive-img {
            width: 100%;
        }
        .contact-sec {
            left: 10%;
        }
    }

/* Ravi Sukla */
*.spinning {
	position:relative;
}

.spinning::after {
    background-image: url("../images/spin.gif");
    bottom: 0;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    margin: auto;
    opacity: 0.6;
    position: relative;
    right: 0;
    top: 0;
    width: 16px;
    z-index: 10;
    position:absolute !important;
}


