<!-- <script src="http://34.231.75.89/theme/web/chat/socket.io.js"></script> -->
<script src="http://34.231.75.89/service/node_chat/socket.io.js"></script> 

<button onclick="return test();">button</button>
<script>
  var name ="";
  var socket = io.connect("http://34.231.75.89:8080/"); 

</script>