/* input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
} */


/* 
 input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
 /* background-color: #F2DEDE;
  border: 1px solid #EED3D7;   


} */

.form-control.parsley-error {
/* border: 1px solid*/
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 1em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    color: #FF0000;
}

.parsley-errors-list.filled {
    opacity: 1;
}