/*
 * Custome Bootstrap Admin Theme
 * @Author: Lokesh Thakur
 * @company: Ideal IT Techno
 */
 /*.dropdown-menu{transform:rotateZ(10deg) rotateX(10deg) rotateY(90deg); display:none;}
.dropdown-menu.open-menu{transform:rotate(0deg) !important; display:block; transition: 1s all .3s;}*/
.navbar-brand1.fading-ef{ opacity:0!important;}
.side-wrap-custom,.side-menu,.fixed-back {
  transition: width 0.5s ease 0s;
}
.heading{
  background:#F1F1F1;
}
.change-side-menu .change_view i {
  margin-right: 10px;
  margin-top: -20px;
}
.change-side-menu .change_view,.change-side-menu .change_view:hover {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}
.change_view,.change_view:hover {
	cursor:pointer;
  background: #1FA0D8 !important;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.side-wrap-custom{
  transition: padding 0.5s ease 0s;
}

.error-msg{
  color:red;
}
.box-shadow {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 15px;
}
.box-shadow:last-child {
    margin-bottom: 20px;
}

.nav.navbar-nav.nav-left li:hover, .nav.navbar-nav.nav-left > .nav-active,.navbar-inverse .navbar-nav > .open > a ,.navbar-inverse .navbar-nav > .open > #dropdown-toggle4 :focus{
  background: #1F1F1F !important;
}
.inactive > a {
	background:#EEEEEE;
  color: #cdcdcd !important;
  cursor: not-allowed;
}
.inactive > a:hover {
	background:#EEEEEE;
  color: #cdcdcd !important;
  cursor: not-allowed !important;
}

.change-side-menu > .nav.navbar-nav.nav-left > li > ul {
  border-left: 3px solid #1FA0D8;
}
.change-side-menu > .nav.navbar-nav.nav-left > li > ul::after {
  border-color: transparent #1FA0D8 transparent transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: -20px;
  position: absolute;
  top: 10px;
}

table .badge {
 
  line-height: 20px;
  height: 20px;
  padding: 0 5px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}
table .badge {
  background: #67c1ef;
  border-color: #8c8c8c;
  background: #d1d1d1;
  background: -moz-linear-gradient(top, #d1d1d1 0%, #8c8c8c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d1d1d1 0%,#8c8c8c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d1d1d1 0%,#8c8c8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#8c8c8c',GradientType=0 ); /* IE6-9 */;
}
table .badge.bg-green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}
.text-left{text-align-left;} 
.text-right{text-align-right;} 
.text-center{text-align-center;}
.navbar-brand{paddinf:10px;}
 #bs-example-navbar-collapse-1 {
  margin-top: 13px;
}
table .badge.bg-yellow {
  background: #faba3e;
  border-color: #f4a306;
  background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
  background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
  background-image: -o-linear-gradient(top, #fcd589, #faba3e);
  background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}
table .badge.bg-red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}
.subnavbar .mainnav > li {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #292929;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin: 0;
    min-width: 90px;
    padding: 0;
    text-align: center;
}
.current-active > a {
    cursor: default !important;
}
.active > a {
    cursor: pointer !important;
}

.pagination > .active > a:hover {
    color: #337ab7 !important;
}
.fld-lable {
    width: 180px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}
.fld-lable-v {
    width: 180px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}
.custom-width {
    width: 180px;
}
a {
    outline: 0 !important;
}
.fixed {
    position: fixed;
    bottom: 0px;
}
.offset-bottom-15 {
    margin-bottom: 15px;
}
.offset-custom {
    margin-right: 5px;
}
.account-container {
    background: #FFF;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 16px 28px 23px;
    margin-top: 30px;
    box-shadow: 0px 2px 2px #acacae;
    margin-bottom: 15px;
}
.nav_bg {
    background: url("../images/header-1.png") repeat-x;
}
.custom-btn {
    background: #26a1da;
    border: none;
    width: 45%;
}
.red {
    color: #F00;
}
.form-group .btn btn-primary {
    outline: none !important;
}
/* 	My css  */

.navbar-default {
    box-shadow: none !important;
}
/*.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar {
  background-image: linear-gradient(to bottom, #0c2e53 0%, #040b1a 100%) !important;
  border-color:0c2e53 !important;}*/
/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #0e2d52 0%, #0e2d52 100%);
    background-repeat: repeat-x;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) inset;}
*/

.custom-brand {
    margin-top: 10px;
}
.navbar-nav {
    margin: 0px;
}
.dropdown-menu {
    padding: 0px 0px;
}
.btn {
    outline: none !important;
}
.c-padding {
    padding: 0px !important;
}
.custom-padding {
    padding: 0px !important;
    padding-top: 15px !important;
}
.table {
    overflow: scroll !important;
}
/* 	My css  */

.footer {
    margin-top: 0;
    border-top: 1px solid #000;
    padding: 15px 0;
    font-size: 12px;
    background: #111;
    color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 0 #292929;
    -moz-box-shadow: inset 0 1px 0 #292929;
    box-shadow: inset 0 1px 0 #292929;
    width: 100%;
}
/*---------------------Lokesh-------------------*/

/*---------------------support-------------------*/

.row.support_sec > div *:first-child {
    font-weight: bold;
	padding-bottom:20px;
	
}

/*---------------------support-------------------*/

/*---------------------button-------------------*/
a{text-decoration:none !important;}
.btn.btn-primary {
    color: #ffffff;
    background-color: #1fa0d8;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23aded+0,1f8bd3+100 */
background: rgb(35,173,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(35,173,237,1) 0%, rgba(31,139,211,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(35,173,237,1) 0%,rgba(31,139,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(35,173,237,1) 0%,rgba(31,139,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23aded', endColorstr='#1f8bd3',GradientType=0 ); /* IE6-9 */


    border-color: #1fa0d8 #1fa0d8 #1fa0d8;
}
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #20a4d8;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2090db+0,1d70c4+100 */
background: rgb(32,144,219); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(32,144,219,1) 0%, rgba(29,112,196,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(32,144,219,1) 0%,rgba(29,112,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(32,144,219,1) 0%,rgba(29,112,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2090db', endColorstr='#1d70c4',GradientType=0 ); /* IE6-9 */


    border-color: #1e8dc9 #1e8dc9 #1e8dc9;
}



.btn.btn-default {
    color: #333333;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
}
.btn.btn-default:hover {
    color: #333333;
    background-color: #E0E0E0;
    background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
}


.btn.btn-success {
    color: #ffffff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #5CB85C, #419641);
    border-color: #3E8F3E #3E8F3E #3E8F3E;
}
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #419641;
    background-image: linear-gradient(to bottom, #419641, #419641);
    border-color: #3E8F3E #3E8F3E #3E8F3E;
}


.btn.btn-warning {
    color: #ffffff;
    background-color: #F0AD4E;
    background-image: linear-gradient(to bottom, #F0AD4E, #EB9316);
    border-color: #E38D13 #E38D13 #E38D13;
}
.btn.btn-warning:hover {
    color: #ffffff;
    background-color: #EB9316;
    background-image: linear-gradient(to bottom, #EB9316, #EB9316);
    border-color: #E38D13 #E38D13 #E38D13;
}


.btn.btn-danger {
    color: #ffffff;
    background-color: #D9534F;
    background-image: linear-gradient(to bottom, #D9534F, #C12E2A);
    border-color: #B92C28 #B92C28 #B92C28;
}
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #C12E2A;
    background-image: linear-gradient(to bottom, #C12E2A, #C12E2A);
    border-color: #B92C28 #B92C28 #B92C28;
}


.btn.btn-info {
    color: #ffffff;
    background-color: #5BC0DE;
    background-image: linear-gradient(to bottom, #5BC0DE, #2AABD2);
    border-color: #28A4C9 #28A4C9 #28A4C9;
}
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #2AABD2;
    background-image: linear-gradient(to bottom, #2AABD2, #2AABD2);
    border-color: #28A4C9 #28A4C9 #28A4C9;
}


.panel.panel-default {
    box-shadow: 0 3px 16px -10px;
}
/* Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*---------------------button-------------------*/

.left-chat {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    padding: 15px;
	max-width: 70%;
	min-width:10%;
}
.right-chat {
    background: #dadada none repeat scroll 0 0;
    border-radius: 10px;
    padding: 15px;
	max-width: 70%;
	min-width:10%;
}
/*-------------------notification_dropdwon-----------------*/

.noti-dropd.dropdown-menu > .list-group.bg {
    background: url("../images/no_notifiaction.png") no-repeat scroll center center / 35% auto;
    min-height: 200px;
}
.list-group-item.active.text-center {
    border-bottom: 2px solid #a0a0a0 !important;
}
.media.list-group-item.dark:nth-of-type(odd) {
    background: #f4f4f4;
}
.noti-dropd {
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    padding-left: 0;
    position: absolute;
    top: 50px;
    width: 400px;
}
.noti-dropd.dropdown-menu::before {
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: -15px;
    width: 0;
}
.noti-dropd.dropdown-menu {
    right: 20px !important;
    top: 50px;
}
.media.list-group-item.light:hover,
.media.list-group-item.dark:hover {
    background: #e8e8e8;
}
.noti-dropd > .triangle {
    text-shadow: 0 0 8px #999;
    color: #fff;
    font-size: 40px;
    right: 20px;
    top: -27px;
}
.noti-dropd>.list-group {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 0;
    background: #EAEFF3;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background: #FFF !important;
    border: none !important;
    color: #6B6E7D !important;
    text-shadow: none;
}
ul li {
    padding-left: 0px !important;
}
.noti-dropd > div > .media {
    clear: both;
}
.noti-dropd > div > .media> a {
    clear: both;
}
.media-left {
    font-size: 40px;
}
.media {
    margin-top: 0 !important;
}
.media-body > h4 {
    color: #505050;
    font-size: 14px;
}
.media-left,
.media-body {
    color: #909090 !important;
}
.media.list-group-item > div {
    margin-bottom: 0px;
}
.media.list-group-item {
    background: #f4f4f4;
    padding: 15px;
}
.list-group-item {
    border: none;
}
.media.list-group-item.dark {
    background: #fafafa;
    border-bottom: 1px solid #ededed !important;
}
.media.list-group-item.dark {
    border-bottom: 0px solid #ededed !important;
}
.list-group > .list-group-item {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,e8e8e8+25,d5dade+50,e8e8e8+75,ffffff+100&amp;0+0,1+25,1+50,1+76,0+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    border-bottom-color: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q1ZGFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    border-bottom-color: -moz-linear-gradient(left, rgba(252, 252, 252, 0) 0%, rgba(232, 232, 232, 1) 25%, rgba(213, 218, 222, 1) 50%, rgba(232, 232, 232, 1) 75%, rgba(233, 233, 233, 1) 76%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    
    border-bottom-color: -webkit-linear-gradient(left, rgba(252, 252, 252, 0) 0%, rgba(232, 232, 232, 1) 25%, rgba(213, 218, 222, 1) 50%, rgba(232, 232, 232, 1) 75%, rgba(233, 233, 233, 1) 76%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    border-bottom-color: linear-gradient(to right, rgba(252, 252, 252, 0) 0%, rgba(232, 232, 232, 1) 25%, rgba(213, 218, 222, 1) 50%, rgba(232, 232, 232, 1) 75%, rgba(233, 233, 233, 1) 76%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00fcfcfc', endColorstr='#00ffffff', GradientType=1);
    /* IE6-8 */
}
/*-------------------notification_dropdwon-----------------*/
/*-------------------side menu-----------------*/

.side-menu > .nav.navbar-nav.nav-left: first-child {
    background: url("../images/header-1.png") repeat-x;
}
.side-menu > .nav.navbar-nav.nav-left > li > a > i {
    float: left;
}
/*.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > a:focus {
    border-bottom:solid 2px #fff !important;}

.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > ul{border-top:#fff 2px solid;}*/

.side-menu > .nav.navbar-nav.nav-left > a > img {
    margin-left: 5px;
}
.side-menu > .nav.navbar-nav.nav-left > a:hover {
    background: #303030 !important;
}
.side-menu > .nav.navbar-nav.nav-left > li > a > span {
    padding-left: 10px;
}
.side-menu > .nav.navbar-nav.nav-left > li > a > .caret {
    padding-left: 0px;
}
.side-menu > .nav.navbar-nav.nav-left > li > ul {
    position: relative !important;
}
.show-side {
    transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 1s !important;
    transform: translateX(0px);
}
.side-menu > .nav.navbar-nav.nav-left a {
	border:none;
    color: #fff;
    text-align: left;
}
.side-menu > .nav.navbar-nav.nav-left a:hover {
    background: #404040;
}
/*.side-menu,.side-wrap-custom{transition:all ease-in-out 1s;}*/

.navbar.navbar-default.navbar-inverse.margin-bottom-0.border-radious.nav_bg.hidden-xs {
    z-index: 2;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > a > i {
  font-size: 24px;
  margin-left: 5px;
  line-height: 40px;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > a > span {
    display: none;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left a {
    padding-bottom: 50px;
    padding-top: 10px;
}
.side-menu.change-side-menu {

    z-index: 1;
    width: 70px;
}
.side-menu > .nav > li > a:focus {
    background-color: #404040 !important;
}
.side-menu > .nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #404040 !important;
    border-color: #337ab7 !important;
}
.side-menu > .nav .open > a,
.nav .open > a:focus,
.nav .open > a:focus {
    background-color: #404040 !important;
    border-color: #337ab7 !important;
}
.side-menu > .nav .open > a,
.nav .open > a:focus,
.nav .open > a:active {
    background-color: #404040 !important;
    border-color: #337ab7 !important;
}
/*.side-menu >.nav.navbar-nav.nav-left:before {

}*/

.side-menu > .nav.navbar-nav.nav-left {
    min-height: 100%;
}
.side-menu > .nav.navbar-nav.nav-left > li {
    border-left: 1px solid #3d3d3d;
    border-right: 1px solid #040b1a;
    min-width: 100%;
    padding: 0;
    text-align: center;
}
/*.navbar-toggle.side-menu1 {
    float: left;
    margin-top: 20px;
}*/

.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar.left-menu {
    width: 250px;
}
.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar.left-menu > .subnavbar > div > div > .nav.navbar-nav.nav-left > li {
    width: 100%;
}
.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar.left-menu > .subnavbar > div > div > .nav.navbar-nav.nav-left > li > a > i,
.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar.left-menu > .subnavbar > div > div > .nav.navbar-nav.nav-left > li > a > span {
    float: left;
}
.side-menu {
    height: 100% !important;
    transform: translateX(-100%);
    min-height: 100% !important;
    position: absolute;
    z-index: 0;

}
.fading-ef {
    transition: all ease-in-out .5s;
    opacity: 0;
}
.side-menu {
    width: 15%;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > ul {
    position: absolute !important;
}
.newcaret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    display: inline-block;
    height: 0;
    left: 50px;
    margin-left: 2px;
    position: absolute;
    top: 28px;
    vertical-align: middle;
    width: 0;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > ul {
    left: 68px;
    position: absolute !important;
    top: 10px;
    z-index: 100 !important;
}
.side-menu.change-side-menu > .nav.navbar-nav.nav-left > li > ul > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-brand1.fading-ef > img {
    width: 90%;
}
.navbar-brand1.fading-ef {
    padding-bottom: 10px !important;
}
.side-menu ul {
    width: 100%;
    background: #232323;
    color: #fff;
    margin-left: 0px !important;
}
.side-menu ul li {
    width: 100%;
    list-style: none;
}
.side-menu ul li:hover {
    background: #333;
}
/*-------------------side menu-----------------*/
.panel-default > .panel-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29b8e5+0,00ade2+100 */
background: rgb(41,184,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YjhlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGFkZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(41,184,229,1) 0%, rgba(0,173,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(41,184,229,1) 0%,rgba(0,173,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(41,184,229,1) 0%,rgba(0,173,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#00ade2',GradientType=0 ); /* IE6-8 */

color:#fff !important;
}
.AscTwoside {
    background: rgba(0, 0, 0, 0) url("../images/up_down_arrow.png") no-repeat scroll 0 0px;
    float: right;
    height: 17px;
    width: 8px;
}
.AscOneside {
    background: rgba(0, 0, 0, 0) url("../images/up_down_arrow.png") no-repeat scroll 0 0px;
    float: right;
    height: 8px;
    width: 8px;
}
.DescOneside {
    background: rgba(0, 0, 0, 0) url("../images/up_down_arrow.png") no-repeat scroll 0 -10px;
    float: right;
    height: 8px;
    margin-top: 10px;
    width: 8px;
}
#badge_html > li {
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-menu.brdr-radius > #badge_html .btn {
    white-space: normal !important;
}
.txt-box {
    color: #a0a0a0;
    float: left;
    font-size: 16px;
    height: 80px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    width: 230px !important;
}
.dropdown-menu.brdr-radius {
    border-radius: 10px !important;
}
#badge_html > li a {
    width: 300px;
    color: #8e8e8e !important;
    background: #FFF !important;
    border-bottom: 2px dashed #ddd;
}
#badge_html > li a i {
    margin-left: -14px;
    float: left;
    background: #C2C2C2 none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 2px 0 #a5a5a5 inset;
    color: #e0e0e0;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    width: 50px;
}
#badge_html > li:last-child a {
    border: none;
}

#badge_html > li .red-bg:hover {
    background: #e35742;
}
#badge_html > li .green-bg:hover {
    background: #009246;
}
#badge_html > li .orange-bg:hover {
    background: #e77800 !important;
}
.orange-bg {
    background: #FF9000 !important;
}
.custom-view-btn {
    color: #000;
}
.noti-circle {
    background: #F56954;
    height: 10px;
    width: 10px;
}
.custom-view-btn:hover {
    text-decoration: none !important;
}
.dashboard-bx {
    margin-bottom: 30px;
}
.dashb-txt {
    background: #fff none repeat scroll 0 0;
    color: #bfc1cd;
    height: 120px;
    width: 50%;
    padding-left: 30px;
}
.blue-bg {
    background: #00C0EF;
}
.green-bg {
    background: #00A65A;
}
.red-bg {
    background: #F56954;
}
.yellow-bg {
    background: #F39C12;
}
.dashb-icon {
    opacity: 0.2;
    padding-top: 30px;
    text-align: center;
    width: 50%;
    float: left;
}
.dashboard-bx .fa {
    transition: all 0.5s ease;
}
.dashboard-bx:hover .fa {
    transform: scale(1.5, 1.5);
}
.dashb-txt a {
    color: #bfc1cd;
}
.dashb-txt a:hover {
    color: #bfc1cd;
    text-decoration: none;
}
.badge {
    border: 1px solid #444444;
    border-radius: 11px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(0, 0, 0, 0.12);
    color: white;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 8px;
    padding: 0 6px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.bg-green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cb85c+0,419641+100 */
    
    background: rgb(92, 184, 92);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjYjg1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTk2NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(92, 184, 92, 1) 0%, rgba(65, 150, 65, 1) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(92, 184, 92, 1)), color-stop(100%, rgba(65, 150, 65, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(92, 184, 92, 1) 0%, rgba(65, 150, 65, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(92, 184, 92, 1) 0%, rgba(65, 150, 65, 1) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(92, 184, 92, 1) 0%, rgba(65, 150, 65, 1) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(92, 184, 92, 1) 0%, rgba(65, 150, 65, 1) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#419641', GradientType=0);
    /* IE6-8 */
    
    border: 1px solid #1faa00;
    border-radius: 11px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(0, 0, 0, 0.12);
    color: white;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 8px;
    padding: 0 6px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.bg-yellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0ad4e+0,eb9316+100 */
    
    background: rgb(240, 173, 78);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYWQ0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYjkzMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240, 173, 78, 1) 0%, rgba(235, 147, 22, 1) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 173, 78, 1)), color-stop(100%, rgba(235, 147, 22, 1)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(240, 173, 78, 1) 0%, rgba(235, 147, 22, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(240, 173, 78, 1) 0%, rgba(235, 147, 22, 1) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(240, 173, 78, 1) 0%, rgba(235, 147, 22, 1) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(240, 173, 78, 1) 0%, rgba(235, 147, 22, 1) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0ad4e', endColorstr='#eb9316', GradientType=0);
    /* IE6-8 */
    
    border: 1px solid #af9200;
    border-radius: 11px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(0, 0, 0, 0.12);
    color: white;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-width: 8px;
    padding: 0 6px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
/*animated-dropd*/

.dropdown-menu {
    z-index: 10000;
}
.open > .dropdown-menu {
    -webkit-animation: mymove 2s infinite linear alternate;
    /* Chrome, Safari, Opera */
    
    animation: mymove 2s infinite linear alternate;
}
/*animated-dropd*/

*.spinning {
	position:relative;

}
.spinning::after {
	position:absolute !important;

}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.panel-body > form {
    clear: both;
}
.fixed-nav-logo {
    float: left;
    display: none;
}
.fixed-nav-dropd {
    display: none;
}
.side-menu {
    width: 250px;
}
.side-menu ul {
    width: 100%;
    background: #303030;
    color: #fff;
    margin-left: 0px !important;
}
.side-menu ul li {
    width: 100%;
    list-style: none;
}
.side-menu ul li:hover {
    background: #333;
}
/*.wrapper{min-height:36em;}*/

.login-container {
    width: 500px;
    margin: 0 auto;
    float: none;
}
.my-table {
    margin-bottom: 0px !important;
}
.my-modal-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.current-active a {
    background: #337AB7 !important;
    border: 1px solid #337AB7 !important;
    color: #fff !important;
}
.active a {
    background: #fff !important;
    border: 1px solid #DDDDDD !important;
    color: #337AB7 !important;
}
.inline-form {
    margin-right: 10px;
    /*width:16%;*/
    
    float: left;
}
.inline-form .btn {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.inline-form .a {
    margin-bottom: 0px;
}
.col-md-12.row > form {
    clear: both;
}
/*table*/

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px
}
tr {
    font-size: 13px;
}
td {
    border-left: 0px !important;
    border-top: 0px !important;
}
th {
   /* border-bottom: 0px !important;  */
}
.bordered thead th {
    font-size: 13px;
    border-left: 1px solid #6f6f6f !important;
    border-right: 1px solid #2f2f2f !important;
    box-shadow: 0 1px 0 #888888 inset;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.table-highlight.table-bordered thead tr {
    font-size: 13px;
    background-color: #4b4b4b !important;
    background-image: linear-gradient(to bottom, #555555, #3b3b3b) !important;
    background-repeat: repeat-x !important;
    color: #fff !important;
    border-top: 1px solid #606060 !important;
}
.table-bordered thead tr th:first-child {
    border-left-color: #ccc;
}
.table-highlight.table-bordered thead th {
    border-left: 1px solid #6f6f6f;
    border-right: 1px solid #2f2f2f;
    box-shadow: 0 1px 0 #888888 inset;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/*.dropdown-menu {
	display:none;
	
	-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}*/

.dropdown-menu > li > a {
    padding: 10px 20px;
    border-left:transparent solid 4px;
    word-break: break-all;
}
.affix {
    top: 0;
    width: 100%;
}
.div-table-view {
    padding-top: 10px;
    padding-bottom: 10px;
}
#containerdata table tr:last-child .width-action-20 ul {
    bottom: 100%;
    margin-bottom: 2px;
    top: auto;
}
/*
#containerdata table{margin-bottom:175px !important;}*/

.custom-table1 {
    padding-top: 5px;
    padding-bottom: 5px;

}
.col-sm-3.custom-table1 > div:first-child {
  margin-bottom: 10px;
}
.admin-list {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 20px;
}
/*
.custom-table1:nth-child(2n+1) {
  background: #e4e4e4 none repeat scroll 0 0;
}
.custom-table1:nth-child(2n) {
  background: #f2f2f2 none repeat scroll 0 0;
}
.custom-table1 > .col-md-6:first-child {
    width: 150px;
}*/
/*---------------------Lokesh-------------------*/
.navbar-inverse {
    border-bottom: 0px;
}
.nav.navbar-nav.nav-left > li {
    border-left: 1px solid #3d3d3d;
    border-right: 1px solid #040b1a;
    min-width: 100px;
    text-align: center;
}
.custom_drop:hover {
    background: none !important;
}
.hover-drop:hover .dropdown-menu {
    display: block;
}
.blue {
    color: #26a1da;
}
.red {
    color: #F00;
}
.login-bg {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center, #ffffff 0%, #d5dbe0 100%) repeat scroll 0 0;
    height: 100%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}
a > .inline-fa {
    color: #fff !important;
}
.inline-fa {
    font-size: 24px;
    display: list-item;
    text-align: center;
    transition: height .8s;
    -webkit-transition: height .8s;
}
.fixed-nav-offset {
    margin-bottom: 100px;
}
.subnavbar .mainnav > li > a > span {
    display: block;
    margin-top: -4px;
}
.subnav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}
.navbar-brand {
    height: 80px !important;
}
.navbar-brand > img {
    width: 170px !important;
}
.dropdown-toggle {
    line-height: 20px !important;
}
.show-sm {
    display: none !important;
}
.hide-sm {
    display: block !important;
}
.color-white {
    color: #ffffff !important;
}
.subnavbar .mainnav > li > a > i {
    display: inline-block;
    font-size: 28px;
    height: 24px;
    margin-bottom: 9px;
    position: relative;
    top: 2px;
    width: 24px;
}
.subnavbar .mainnav > li > a {
    color: #636363;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/**
 * Padding	
 * **/

.pad-0 {
    padding: 0px;
}
.pad-20 {
    padding: 20px;
}
.pad-top-10 {
    padding-top: 10px;
}
.margin-bottom-0 {
    margin-bottom: 0px;
}
.btn-action {
    margin-top: 3px;
    margin-bottom: 3px;
}
.border-radious {
    border-radius: 0px;
}
/**
  * Table 	
  * */
/* .table-highlight.table-bordered {
    border-top: 1px solid #1c2b37;
}*/

.table-highlight.table-bordered thead tr {
    background-color: #fff;
    /*background-image: linear-gradient(to bottom, #555555, #3b3b3b);*/
    
    background-repeat: repeat-x;
}
th:first-child {
    border-top-left-radius: 4px;
}
highlight.table-bordered thead th {
    border-left: 1px solid #6f6f6f;
    border-right: 1px solid #2f2f2f;
    box-shadow: 0 1px 0 #888888 inset;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/*.table-list th{
	color: #333;
	
}*/

.width-action-20 {
    width: 10%;
}
.margin-0 {
    margin: 0px;
}
.color-green {
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}
.color-grey {
    color: grey;
}
/* Panel Heading
 */

.panel-heading {
    font-size: 16px;
}
/* Ravi Sukla */

.spinning::after {
    background-image: url("../images/spin.gif");
    bottom: 0;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    margin: auto;
    opacity: 0.6;
    position: relative;
    right: 0;
    top: 0;
    width: 16px;
    z-index: 10;
}
.relative-pos {
    position: relative;
}
.margin-top-less-7 {
    margin-top: -7px;
}
.bg-red {
    background-color: #F56954 !important;
}
.bg-green {
    background-color: #00A65A !important;
}
.bg-yellow {
    background-color: #F39C12 !important;
}
.bg-light-blue {
    background-color: #32AED4 !important;
}
.bg-dark-blue {
    background-color: #275E8E !important;
}
.notificationRow {
    background-color: #EAEAE4;
    border-radius: 4px;
    padding: 10px;
}
.notificationRow .userSpan2 {
    background-color: #ffffff;
    float: left;
    margin-left: 27px;
}
.userSpan2 {
    background-color: #EAEAE4;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
}
.span2 {
    width: 170px;
}
.notificationRow input[type="radio"],
input[type="checkbox"] {
    float: left;
    margin-top: 5px;
}
.notificationlable {
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.rating_bar {
    background: rgba(0, 0, 0, 0) url("../images/stars.png") repeat-x scroll 0 0;
    float: left;
    height: 14px;
    margin-top: 4px;
    text-align: left;
    width: 80px;
}
.rating {
    background: rgba(0, 0, 0, 0) url("../images/stars.png") repeat-x scroll 0 -16px;
    height: 15px;
}
.mygraph {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    padding: 10px;
    height: auto!important;
    width: 100% !important;
}
.piechart {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    width: 100%;
    height: auto;
    position: relative !important;
}
.piechart {
    height: auto !important;
    width: 100% !important;
}
.visible-ipad {
    display: none;
}
.btn.btn-small.btn-action {
    width: 40px !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    border-left: #69F solid 4px;
}
/* Ravi Sukla */

.date-td {
    width: 80px;
}
.group-td {
    width: 80px;
}
@media (max-width: 1200px) {
    .nav.navbar-nav.nav-left > li {
        font-size: 11px;
    }
}
@media all and (max-width: 1024px) and (min-width: 768px) {
    .fld-lable {
        width: 18%;
        float: left;
        margin-bottom: 10px;
    }
    .fld-lable-v {
        width: 20%;
        float: left;
        margin-bottom: 10px;
    }
    .custom-width {
        width: 20%;
    }
    .field_wrapper > .inline-form {
        width: 18%;
    }
    .inline-fa {
        display: none !important;
    }
}
@media (min-width: 1024px) {
    .account-container {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .col-md-12.field_wrapper.clearfix {
        margin-top: 40px;
    }
    .btn.btn-small.btn-action {
        width: 100px !important;
    }
    .pagination form {
        display: none;
    }
    .dropdown-menu.action-menu {
        min-width: 50px !important;
        left: -55%;
        top: 29px;
        border-radius: 5px;
        border: 1px solid #ddd;
        border-radius: 0px;
    }
    .dropdown-menu.action-menu a {
        background: #fff;
        border: none;
        padding: 10px;
        color: #000 !important;
        border-left: #fff solid 4px;
    }
    .dropdown-menu.action-menu button {
        background: #fff;
        border-width: 0 0 0 4px;
        padding: 10px;
        color: #000 !important;
        display: block;
        text-align: left;
        border-radius: 0px;
        width: 100px;
        border-left: #fff solid;
    }
    .dropdown-menu.action-menu button:hover {
        border-width: 0 0 0 4px;
        border-left: #69f solid;
        background-color: #e8e8e8;
        background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
        background-repeat: repeat-x;
    }
    .dropdown-menu.action-menu button > .fa {
        color: #000 !important;
        width: 20px !important;
    }
    .dropdown-menu.action-menu a > .fa {
        color: #000 !important;
        width: 20px !important;
    }
    .dropdown-menu.action-menu a > .fa-unlock {
        color: #419641 !important;
    }
    .dropdown-menu.action-menu a > .fa-lock {
        color: #eb9316 !important;
    }
    .dropdown-menu.action-menu a > .fa-edit {
        color: #265a88 !important;
    }
    .dropdown-menu.action-menu a > .fa-info {
        color: #5bc0de !important;
    }
    .dropdown-menu.action-menu a > .fa-trash {
        color: #c12e2a !important;
    }
    .width-action-20 button {
        display: none;
    }
    .btn.btn-sm.dropdown-toggle {
        background: #fff;
        display: block !important;
        border: #ddd 1px solid;
        border-radius: 0px;
        position: relative;
        z-index: 999
    }
    .action-menu a {
        width: 100px !important;
        display: block;
        background: #ddd none repeat scroll 0 0;
        border-radius: 0;
        color: #ddd;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
    }
    .width-action-20 a {
        display: none;
    }
    .visible-ipad {
        display: block;
    }
    .account-container {
        width: 95%;
    }
    .inline-fa {
        font-size: 20px;
    }
    .nav.navbar-nav.nav-left > li {
        min-width: 68px;
    }
}
@media (max-width: 768px) {
    .field_wrapper .inline-form {
        width: 100%;
    }
    .col-md-10.col-md-offset-2.field_wrapper {
        margin-top: 40px;
    }
    .pagination-ul {
        font-size: 11px;
    }
    .panel-body > #containerdata {
        overflow: scroll !important;
        width: 100%;
    }
    .hover-drop:hover .dropdown-menu {
        display: none;
    }
    .inline-fa {
        font-size: 20px;
    }
    .nav.navbar-nav.nav-left > li {
        font-size: 0.74em;
        min-width: auto;
    }
    .piechart {
        height: auto !important;
        width: 100% !important;
    }
    .mygraph {
        width: 90%;
        margin-bottom: 10px;
    }
    /*.piechart{width:70%; margin:40 auto !important; left:15% !important; position:relative !important;}*/
}
@media (max-width: 767px) {
    .fld-lable {
        display: none;
        float: left;
        margin-bottom: 10px;
    }
    .fld-lable-v {
        display: none;
        float: left;
        margin-bottom: 10px;
    }
    .custom-table1 > .col-md-6:first-child {
        width: auto;
    }
    .table {
        width: 767px !important;
        max-width: 767px !important;
    }
    .pagination.margin-0.navbar-center.add-page {
        font-size: 10px !important;
    }
    .pagination.margin-0.navbar-center.add-page li a {
        padding: 6px 7px!important;
    }
    .custom-heading {
        font-size: 24px;
    }
    .login-bg {
        background: #d5dbe0;
        height: 100% !important;
    }
    .displaypagselect.form-control.btn-small {
        width: 60px;
    }
    .goto.form-control.pagination-input1 {
        width: 120px !important;
    }
    .inline-form {
        width: 100%;
    }
    .login-container {
        width: 90%;
        margin: 0 auto !important;
        float: none;
    }
    .show-sm {
        display: block !important;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle {
        /*background-color: #333 !important;*/
    }
    .nav.navbar-nav.nav-left > li {
        font-size: 12px;
    }
    .dropdown-menu {
        font-size: 12px !important;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
    .dropdown-menu a {
        background: #232323;
        color: #fff !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #181818 !important;
        color: #fff;
    }
    .show-sm {
        display: block;
    }
    .hide-sm {
        display: none;
    }
    .inline-fa {
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }
    .nav.navbar-nav.nav-left > li {
        text-align: left;
    }
    .subnavbar .mainnav > li {
        font-size: 14px !important;
    }
    .mygraph {
        width: 90%;
    }
}
@media (max-width: 360px) {
    .custom-btn {
        background: #26a1da;
        border: none;
        width: 48%;
        padding-top: 8px;
        padding-bottom: 8px;
        float: left;
        margin-left: 3px;
        border-radius: 0px;
    }
    .account-container {
        width: 95%;
    }
    .nav.navbar-nav.nav-left > li {
        font-size: 12px;
    }
}
#loading {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/loading12.gif);
    background-origin: padding-box;
    background-position: 0 23px;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 56px;
    margin-bottom: 0;
    margin-left: 46%;
    margin-right: auto;
    margin-top: 18%;
    width: 31px;
    position: fixed;
    z-index: 1;
}
.note {
    font-size: 11px;
    color: green;
}
.verification {
    color: green;
    cursor: pointer
}
/* raghvendra */

.msg_stripe > .success_msg {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.msg_stripe > .error_msg {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.dropdown-toggle.newbadge {
    padding-left: 30px;
    padding-right: 30px;
}
.dropdown-menu.newbadge li a {
    border-radius: 0px;
    width: 230px;
}
.dropdown-menu > #badge_html {
    max-height: 300px !important;
    overflow-y: auto;
}
.btn.btn-info_view {
    height: 37px;
    margin-left: 55px;
    width: 85px;
}
.Oneside {
    color: red;
}
.Twoside {
    color: green;
}
.noti-dropd {
    width: 400px;
}
.noti-dropd>.list-group {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 0;
}
ul li {
    padding-left: 0px !important;
}
.noti-dropd > div > .media {
    clear: both;
}
.noti-dropd > div > .media> a {
    clear: both;
}
.media-left {
    font-size: 40px;
}
.media {
    margin-top: 0 !important;
}
.dark-btn {
    background: #E6E9EE;
    height: 100px;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 100px;
}
.light-btn {
    background: #F6F7FB;
    height: 100px;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 100px;
}

.dark-btn2 {
    background: #E6E9EE;
    height: 100px;
    width: 33.3%;
    float: left;
    text-align: center;
    padding-top:30px;
  
}
.light-btn2 {
    background: #F6F7FB;
    height: 100px;
    width: 33.3%;
    float: left;
    text-align: center;
    padding-top: 30px;
}
.light-btn3 {
    background: #F6F7FB;
    height: 100px;
    width: 33.3%;
    float: left;
    text-align: center;
    padding-top: 30px;   
}
.new-pop {
    padding: 0px;
}
.dark-btn a,
.light-btn a {
    text-decoration: none;
    color: #627E7F;
}
.supportHeading{
   border-top-left-radius:10px;
   border-top-right-radius:10px;
   background:#1FA0D8;
   padding:10px;
   color:#fff;
   }

   .supportbody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    padding: 10px;
}



   .supportHeading.col-md-12 > span {
   line-height: 2.5;
   }
   .support_detail.col-md-12 {
   background: #efefef;
   padding: 10px;
   }
   .margin-bottom10 {
    margin-bottom: 10px;
}

.status_green {
    background: none repeat scroll 0 0 green;
    border-radius: 30px;
    color: #fff;
    padding: 0 5px;
}
.status_red {
    background: none repeat scroll 0 0 #912323;
    border-radius: 30px;
    color: #fff;
    padding: 0 5px;
}
 
.status_blue {
  background: none repeat scroll 0 0 blue;
  border-radius: 30px;
  color: #fff;
  padding: 0 5px;
  float: left;
  min-width: 85px;
  font-size:11px;
}
.status_orange {
    background: none repeat scroll 0 0 orange;
    border-radius: 30px;
    color: #fff;
    padding: 0 5px;
}
.status_purple {
    background: none repeat scroll 0 0 purple;
    border-radius: 30px;
    color: #fff;
    padding: 0 5px;
}
.status_gray {
    background: none repeat scroll 0 0 gray;
    border-radius: 30px;
    color: #fff;
    padding: 0 5px;
}
.height{
min-height:120px;
}




