/*
 * Custome Bootstrap Admin Theme
 * @Author: Nilesh Badgi
 * @company: Ideal IT Techno
 */
.subnavbar .mainnav > li {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #292929;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin: 0;
    min-width: 90px;
    padding: 0;
    text-align: center;
}
a {
   outline: 0 !important;
}
.fixed{position:fixed; bottom:0px;}
.offset-bottom-15{margin-bottom:15px;}
.offset-custom{margin-right:5px;}
.account-container{background:#FFF; border-radius:10px; border:1px solid #dcdcdc; padding:16px 28px 23px; margin-top:50px;
box-shadow:0px 2px 2px #acacae;}
.nav_bg{background:url("../images/header-1.png") repeat-x;}
	
.custom-btn{ background:#26a1da; border:none; width:48%; padding-top:8px; padding-bottom:8px; float:left; margin-left:5px; border-radius:0px;}
.red{color:#F00;}

.form-group .btn btn-primary{outline:none !important;}


/* 	My css  */

.navbar-default{box-shadow:none !important;}
.navbar.navbar-default.navbar-inverse.border-radious.custom-navbar {
  background-image: linear-gradient(to bottom, #0c2e53 0%, #040b1a 100%) !important;
  border-color:0c2e53 !important;}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #0e2d52 0%, #0e2d52 100%);
    background-repeat: repeat-x;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) inset;
}

.custom-brand{margin-top:10px;}

/* 	My css  */


.footer{	
    margin-top: 0;
    border-top: 1px solid #000;
    padding: 15px 0;
    font-size: 12px;
    background: #111;
    color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 0 #292929;
    -moz-box-shadow: inset 0 1px 0 #292929;
    box-shadow: inset 0 1px 0 #292929;
    width: 100%;
}

.navbar-collapse.collapse.in{ background:#333333;}
.nav.navbar-nav.nav-left > li{
	/*border-left:1px solid #212121;*/
	border-right:1px solid #040b1a;
	min-width:100px;
	text-align:center;}


	
.custom_drop:hover {
    background: none !important;
}

.hover-drop:hover .dropdown-menu{display:block;}

.blue{color:#26a1da;}

.red{color:#F00;}

.login-bg{background:rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , #ffffff 0%, #d5dbe0 100%) repeat scroll 0 0;
height:100%;}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}

.nav.navbar-nav > li:hover {
    background: #0e2d52 none repeat scroll 0 0;
}

.inline-fa{font-size:24px;
			display:list-item;
			text-align:center;}

.subnavbar .mainnav > li > a > span {
    display: block;
    margin-top: -4px;
   }
   
.subnav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}
.navbar-brand{height:80px !important;}
.dropdown-toggle {
    line-height: 20px !important;
}
.show-sm{display:none;}
.hide-sm{display:block;}
.color-white{color:#ffffff !important;}
.subnavbar .mainnav > li > a > i {
    display: inline-block;
    font-size: 28px;
    height: 24px;
    margin-bottom: 9px;
    position: relative;
    top: 2px;
    width: 24px;
}

.subnavbar .mainnav > li > a {
    color: #636363;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/**
 * Padding	
 * **/

.pad-0{ 
	padding:0px;
	}


.pad-20{ 
	padding:20px;
	}

.pad-top-10{ 
	padding-top:10px;
	}

.margin-bottom-0
  {
  	margin-bottom: 0px;
  } 

.btn-action{
	margin-top:3px;
	margin-bottom:3px;
	
	
}  
  
.border-radious{
 	border-radius: 0px;
 }  
 
 /**
  * Table 	
  * */
 .table-highlight.table-bordered {
    border-top: 1px solid #1c2b37;
}

.table-highlight.table-bordered thead tr {
    background-color: #fff;
    /*background-image: linear-gradient(to bottom, #555555, #3b3b3b);*/
    background-repeat: repeat-x;
}

th:first-child {
    border-top-left-radius: 4px;
}

highlight.table-bordered thead th {
    border-left: 1px solid #6f6f6f;
    border-right: 1px solid #2f2f2f;
    box-shadow: 0 1px 0 #888888 inset;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.table-list th{
	color: #333;
	
}
 
.width-action-20 {
	width:22%;
	
}
 
.margin-0{margin: 0px;} 

.color-green{
background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
	
}

.color-grey{
	color: grey;
}

/* Panel Heading
 */

.panel-heading{font-size:16px;}
/* Ravi Sukla */


.spinning::after {
  background-image: url("../images/spin.gif");
  bottom: 0;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  margin: auto;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  z-index: 10;
}
.relative-pos {
  position: relative;
}

.margin-top-less-7 { margin-top:-7px; }


.bg-red {background-color:#F56954 !important;}
.bg-green {background-color:#00A65A !important;}
.bg-yellow {background-color:#F39C12 !important;}
.bg-light-blue {background-color:#32AED4 !important;}
.bg-dark-blue {background-color:#275E8E !important;}


.notificationRow {
    background-color: #EAEAE4;
    border-radius: 4px;
    padding: 10px;
}
.notificationRow .userSpan2 {
    background-color: #ffffff;
    float: left;
    margin-left: 27px;
}
.userSpan2 {
    background-color: #EAEAE4;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
}
.span2 {
    width: 170px;
}
.notificationRow input[type="radio"], input[type="checkbox"] {
    float: left;
    margin-top: 5px;
}
.notificationlable {
    margin-top: 1px;
}    
.rating_bar {
    background: rgba(0, 0, 0, 0) url("../images/stars.png") repeat-x scroll 0 0;
    float: left;
    height: 14px;
    margin-top: 4px;
    text-align: left;
    width: 80px;
}
	
.rating {
    background: rgba(0, 0, 0, 0) url("../images/stars.png") repeat-x scroll 0 -16px;
    height: 32px;
}   

	
.mygraph{width:48%; margin-left:10px;
}
.piechart{width:50%; margin:40 auto !important; left:26% !important; position:relative !important;}

/* Ravi Sukla */


@media (max-width:1024px) {	
.inline-fa{
	font-size:20px;}	
.nav.navbar-nav.nav-left > li{
	font-size: 11px;
    min-width: 68px;
	}
	
	}
	@media (max-width:768px) {	
.hover-drop:hover .dropdown-menu{display:none;}
.inline-fa{
	font-size:20px;}	
.nav.navbar-nav.nav-left > li{
	font-size: 11px;
    min-width: auto;
	}	
	
.mygraph{width:90%; margin-left:10px;

}
.piechart{width:70%; margin:40 auto !important; left:15% !important; position:relative !important;}
	
	}


@media (max-width:767px){
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #333 !important;
}
	.dropdown-menu a{background:#232323; color:#fff !important;}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #181818 !important;
    color: #fff;
}
	
	.show-sm{display:block;}
	.hide-sm{display:none;}
	.inline-fa{font-size:14px;
			   display:inline-block;
			   text-align:center;}
.nav.navbar-nav.nav-left > li{text-align:left;}
	
	.subnavbar .mainnav > li {
    font-size: 14px !important;
}

.mygraph{width:90%; margin-left:10px;
}

.piechart{width:70%; margin:40 auto !important; left:15% !important; position:relative !important;}
}
     
@media (max-width:360px){
	
	.mygraph{width:80%;
}

.piechart{width:86%; margin:40 auto !important; left:5% !important; position:relative !important;}
}