/*
 * Custome Bootstrap Admin Theme
 * @Author: Nilesh Badgi
 * @company: Ideal IT Techno
 */
.subnavbar .mainnav > li {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #292929;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin: 0;
    min-width: 90px;
    padding: 0;
    text-align: center;
}


.subnavbar .mainnav > li > a > span {
    display: block;
    margin-top: -4px;
   }
   
.subnav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.subnavbar .mainnav > li > a > i {
    display: inline-block;
    font-size: 28px;
    height: 24px;
    margin-bottom: 9px;
    position: relative;
    top: 2px;
    width: 24px;
}

.subnavbar .mainnav > li > a {
    color: #636363;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/**
 * Padding	
 * **/

.pad-0{ 
	padding:0px;
	}


.pad-20{ 
	padding:20px;
	}

.pad-top-10{ 
	padding-top:10px;
	}

.margin-bottom-0
  {
  	margin-bottom: 0px;
  } 

.btn-action{
	margin-top:3px;
	margin-bottom:3px;
	
	
}  
  
.border-radious{
 	border-radius: 0px;
 }  
 
 /**
  * Table 	
  * */
 .table-highlight.table-bordered {
    border-top: 1px solid #1c2b37;
}

.table-highlight.table-bordered thead tr {
    background-color: #4b4b4b;
    background-image: linear-gradient(to bottom, #555555, #3b3b3b);
    background-repeat: repeat-x;
}

th:first-child {
    border-top-left-radius: 4px;
}

highlight.table-bordered thead th {
    border-left: 1px solid #6f6f6f;
    border-right: 1px solid #2f2f2f;
    box-shadow: 0 1px 0 #888888 inset;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.table-list th{
	color: #fff;
	
}
 
.width-action-20 {
	width:22%;
	
}
 
.margin-0{margin: 0px;} 

.color-green{
background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
	
}

.color-grey{
	color: grey;
	
}
