    @font-face {
        font-family: 'robotoLight';
        src: url('../fonts/roboto.eot');
        /* IE9 Compat Modes */
        src: url('../fonts/Campton-LightDEMO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Campton-LightDEMO.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Campton-LightDEMO.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Campton-LightDEMO.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Campton-LightDEMO.ttf') format('truetype'), /* Safari, Android, iOS */
        url('Campton-LightDEMO.svg#svgFontName') format('svg');
        /* Legacy iOS */
    }
    
    body {
        font-family: 'arial';
        font-size: 13px;
        letter-spacing: normal;
        font-weight: normal;
    }
    
    .fixed-top,
    .navbar,
    .navbar-brand img,
    .animate-box,
    .white_box h4,
    .navbar-nav .nav-link,
    .link_circle,
    .header_search {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .fixed-top.darkHeader {
        background-color: #32394B;
    }
    
    .fixed-top.darkHeader .navbar {
        padding: 0;
    }
    
    .fixed-top.darkHeader .navbar-brand img {
        width: 185px;
    }
    
    .m-logo {
        display: none;
    }
    
    .navbar-nav .nav-link {
        color: #fff;
        padding: 1.3rem 1rem;
    }
    
    .navbar .nav-link:hover,
    .navbar .nav-link.active {
        color: #1FA0D8;
    }
    
    .fixed-top.darkHeader .navbar .nav-link:hover,
    .fixed-top.darkHeader .navbar .nav-link.active {
        background: #1FA0D8;
        color: #fff;
    }
    
    .banner_section {
        position: relative;
        background: #1FA0D8 url(../images/faq_bg.jpg) top no-repeat;
        background-attachment: fixed !important;
        background-position: fixed;
        background-size: cover !important;
        padding-top: 170px;
        padding-bottom: 0px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .home_slide {
        min-height: 650px;
    }
    
    .trans_bg {
        position: relative;
        bottom: -10px;
        width: 100%;
    }
    
    .faq_bg {
        background: #1FA0D8 url(../images/support_bg.jpg) no-repeat center !important;
        padding-top: 140px;
        background-size: cover !important;
        background-attachment: fixed !important;
        position: relative !important;
        width: 100%;
    }
    
    .detail_bg h2 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    
    .white_box {
        background: #fff;
        border: 1px solid transparent;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .white_box h4 {
        border-bottom: 1px solid #ddd;
        margin-top: 0px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 24px;
    }
    
    .white_box img {
        margin: 15px 0;
    }
    
    .white_box a {
        color: #333;
        display: block;
    }
    
    .white_box a:hover {
        text-decoration: none;
    }
    
    .white_box:hover h4 {
        color: #1FA0D8;
    }
    
    .white_box:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
    }
    
    .bottom_box {
        padding: 20px 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .bottom_box h4,
    .bottom_box p {
        color: #fff;
    }
    
    .bottom_box a {
        color: #fff;
        text-decoration: underline;
    }
    
    .bottom_box a:hover,
    .bottom_box a:hover p {
        color: #1FA0D8;
        cursor: pointer;
    }
    
    .bottom_box img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .question-heading {
        font-size: 12px;
        text-transform: uppercase;
        color: rgb(129, 129, 129);
    }
    
    .page_section {
        background: #fff;
        margin-top: 640px;
        position: relative;
        padding-top: 50px;
        padding-bottom: 70px;
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }
    
    .page_section.inner {
        margin-top: 0px;
    }
    
    .animate-box.transYanimate {
        transform: translateY(-70px);
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
    }
    
    .uploaded_img {
        width: 60px;
        height: 60px;
        background: #DEDEDE;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        float: left;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        overflow: hidden;
        margin-right: 10PX;
        margin-bottom: 10px;
        position: relative;
    }
    
    .uploaded_img:before {
        font-family: 'fontAwesome';
        content: '\f03e';
        left: 0;
        right: 0;
        top: 20px;
        color: #808080;
    }
    
    .browse_btn {
        width: 80px;
        background: #1FA0D8;
        padding: 10px;
        overflow: hidden;
        position: relative;
        display: block;
        height: 40px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .browse_btn:before {
        position: absolute;
        content: 'Upload';
        color: #fff;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    
    .browse_btn:hover {
        background: #252c3e;
        cursor: pointer;
    }
    
    .browse_btn input {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
    }
    
    .large-heading {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .fixed-top {
        z-index: 2;
    }
    
    .search_box.stick .suggestion_search_box {
        top: 47px;
        width: calc(100% - 54px);
    }
    
    .search_box.stick {
        width: 360px;
        position: fixed;
        top: -6px;
        right: 168px;
        z-index: 4;
        padding: 15px 10px;
    }
    
    .input-group-append .btn,
    .input-group-prepend .btn,
    .input-group input {
        z-index: 1;
    }
    
    .search_box.stick .input-group {
        margin-bottom: 0 !important;
        max-width: 500px;
        margin: 0 auto
    }
    
    .search_box.stick .input-group .form-control {
        height: 43px;
        font-size: 14px;
        background: transparent;
        border: 1px solid #454c5e;
        color: #fff;
    }
    
    .search_box.stick .input-group-append .btn-info {
        padding: 0.6rem 1rem !important;
        font-size: 14px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .search_box.stick .input-group-append .btn-info span {
        display: none;
    }
    
    a:focus,
    *:focus,
    .form-control:focus,
    button:focus,
    input:focus,
    select:focus {
        outline: none;
    }
    
    .co_questions {
        padding: 0;
    }
    
    .co_questions li {
        list-style-type: none;
        display: block;
    }
    
    .co_questions li a {
        color: #333;
        display: inline-block;
        padding: 8px 0;
        font-size: 16px;
        font-family: fontAwesome;
    }
    
    .co_questions li a:hover {
        color: #1FA0D8;
        text-decoration: none;
    }
    
    .btn-outline-default {
        border: 1px solid #333;
        color: #333;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        padding: 8px 15px;
    }
    
    .btn-outline-default:hover {
        background: #1FA0D8;
        border-color: #1FA0D8;
        color: #fff;
    }
    
    footer {
        background: #32394B;
        position: relative;
        padding-top: 40px;
        z-index: 1;
    }
    
    footer p {
        color: #fff;
    }
    
    .footer-list {
        padding-left: 0;
    }
    
    footer li {
        color: #fff;
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .footer-list a {
        text-decoration: none !important;
        color: #FFF !important;
    }
    
    .footer-list a:hover {
        text-decoration: none !important;
        color: #1FA0D8 !important;
    }
    
    .social-media a {
        display: inline-block;
        margin: 5px 2px;
        font-size: 20px
    }
    
    .social-icon-facebook {
        background: #fff;
        color: #5972A8;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        text-align: center;
    }
    
    .social-icon-facebook:hover {
        color: #fff;
        background: #5972A8;
    }
    
    .social-icon-twitter {
        background: #fff;
        color: #32CDFD;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        text-align: center;
    }
    
    .social-icon-twitter:hover {
        color: #fff;
        background: #32CDFD;
    }
    
    .social-icon-instagram {
        background: #fff;
        color: #37648D;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        text-align: center;
    }
    
    .social-icon-instagram:hover {
        color: #fff;
        background: #37648D;
    }
    
    .second-f {
        background: #252c3e none repeat scroll 0 0;
        color: #fff;
        /* margin: -15px; */
        padding: 10px;
    }
    
    .second-f a {
        color: #fff;
    }
    
    .link_circle {
        background: #1FA0D8;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        align-items: center;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .link_circle:hover,
    .link_circle:focus,
    .link_circle:active {
        margin-top: -15px;
        background: #212529
    }
    
    .link_circle.active {
        margin-top: 0px;
        background: #212529
    }
    
    .link_circle a {
        display: inline-flex;
        display: -webkit-inline-flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        cursor: pointer;
        ;
    }
    
    .input-group-append .btn-info {
        background: #1FA0D8;
        padding: 0.7rem 1rem !important;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .input-group-append .btn-info:hover {
        border-color: rgb(21, 138, 189);
        background: rgb(21, 138, 189);
    }
    
    .suggestion_search_box {
        position: absolute;
        top: 67px;
        width: calc(100% - 55px);
        background: #fff;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow-y: auto;
        border-radius: 4px;
        -webkit--moz-border-radius: 4px;
        border: 1px solid #e2e2e2;
        padding: 10px 0;
    }
    
    .header_search .suggestion_search_box {
        top: 40px;
        width: calc(100% - 56px);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    
    .suggestion_list {
        padding: 0;
        margin: 0;
    }
    
    .suggestion_list li {
        list-style-type: none;
    }
    
    .suggestion_list li a {
        padding: 10px 15px;
        display: block;
        text-transform: capitalize;
        cursor: pointer;
    }
    
    .suggestion_list li a:hover {
        background: #eee;
    }
    
    .questions_list {
        padding: 0
    }
    
    .questions_list li {
        display: block;
        margin: 0px 0;
        position: relative;
    }
    
    .questions_list li:before {
        position: absolute;
        right: 0;
        top: 13px;
        content: '\f105';
        font-family: fontAwesome;
        font-size: 22px;
    }
    
    .questions_list li a {
        padding: 20px 8px;
        display: block;
        border-bottom: 1px solid #eee;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        color: #333;
        font-size: 16px;
    }
    
    .questions_list li a:hover {
        text-decoration: none;
        color: #1FA0D8;
    }
    
    .list-group-item {
        border: 1px solid #eee;
    }
    
    .gray_bg {
        background: #F8F8F8;
    }
    
    .shade_bg {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,e8edf2+50 */
        background: rgb(255, 255, 255);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 50%, rgba(232, 237, 242, 1) 50%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 50%, rgba(232, 237, 242, 1) 50%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(232, 237, 242, 1) 50%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8edf2', GradientType=1);
        /* IE6-9 */
    }
    
    .text-gray {
        color: #666;
    }
    
    .less-padd {
        padding: 0 5px;
    }
    
    .cont_icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        background: #252c3e;
        text-align: center;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-top: -5px;
    }
    
    .contact-field .form-control {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        height: 50px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
    }
    
    .contact-field {
        padding-left: 100px;
    }
    
    .contact-field .btn-info {
        background: #1FA0D8;
        display: block;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        width: 100%;
        height: 50px
    }
    
    .contact-field .btn-info:hover {
        border-color: rgb(21, 138, 189);
        background: rgb(21, 138, 189);
    }
    
    .contact-field textarea {
        resize: none;
        height: auto !important;
    }
    
    .contact-social a {
        border: 1px solid #32394B;
        color: #32394B;
        width: 30px;
        height: 30px;
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .contact-social a:hover {
        text-decoration: none;
        border-color: #1FA0D8;
    }
    
    .contact-social a:hover .fa-facebook {
        color: #5972A8;
    }
    
    .contact-social a:hover .fa-twitter {
        color: #32CDFD;
    }
    
    .contact-social a:hover .fa-instagram {
        color: #37648D;
    }
    
    .input-group .form-control {
        border: none;
        height: 55px;
    }
    
    .input-group .form-control:focus {
        box-shadow: none;
    }
    
    .page_section .input-group .form-control {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: transparent;
    }
    
    .menu-drop a>div {
        min-width: 135px;
        margin-right: 22px;
        font-size: 0.9rem;
    }
    
    .dropdown-item {
        display: flex;
        display: -webkit-flex;
        width: 100%;
        padding: .50rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        align-items: center;
        justify-content: left;
    }
    
    .dropdown-item:hover,
    .dropdown-item:focus {
        cursor: pointer;
        background: #1FA0D8;
        color: #fff !important;
    }
    
    .dropdown-item img {
        position: absolute;
        right: 20px;
    }
    
    .menu-drop a:hover {
        color: #1FA0D8;
    }
    
    #dropdownMenuButton .menu-icon {
        position: absolute;
        right: 0;
        top: 15px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
    }
    
    #dropdownMenuButton .menu-icon span {
        display: block;
        width: 35px;
        margin: 8px 5px;
        background: #fff;
        height: 1px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .fixed-top.darkHeader #dropdownMenuButton .menu-icon {
        top: -13px
    }
    
    #dropdownMenuButton .menu-icon:hover span {
        background: #1FA0D8;
    }
    
    .fixed-top.darkHeader #dropdownMenuButton .menu-icon span {
        background: #fff;
    }
    
    #dropdownMenuButton[aria-expanded="true"] .menu-icon span:nth-child(3) {
        opacity: 0;
    }
    
    #dropdownMenuButton[aria-expanded="true"] .menu-icon span:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform-origin: center;
        top: 0px;
        position: relative;
        height: 2px;
    }
    
    #dropdownMenuButton[aria-expanded="true"] .menu-icon span:nth-child(1) {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform-origin: center;
        height: 2px;
        position: relative;
        top: 10px;
    }
    
    .my-nav .dropdown-menu {
        float: none;
        top: 65px;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        z-index: 5;
    }
    
    .fixed-top.darkHeader .my-nav .dropdown-menu {
        top: 28px;
    }
    
    .my-nav.float-right {
        float: none !important;
        position: absolute;
        right: 0;
        top: 26px;
    }
    
    .graphic-area {
        padding-left: 60px;
    }
    
    a.link {
        color: #333;
    }
    
    @media(max-width:1100px) {
        .search_box.stick {
            right: 120px;
        }
        iframe {
            width: 100% !important;
        }
    }
    
    @media(max-width:992px) {
        .search_box.stick {
            right: 192px;
        }
        .contact-field {
            padding-left: 30px;
        }
        .banner_section {
            position: relative;
        }
        .page_section {
            margin-top: 0;
        }
        .menu-drop .dropdown-item {
            padding-right: 20px;
        }
    }
    
    @media(max-width:890px) {
        .search_box.stick {
            right: 140px;
        }
        .src-component-Launcher-wrapper {
            padding: 5px !important;
        }
    }
    
    @media(max-width:767px) {
        .search_box.stick {
            right: 70px;
        }
        #dropdownMenuButton .menu-icon {
            top: -7px;
        }
        .my-nav .dropdown-menu {
            top: 30px;
        }
        .contact-field {
            margin-top: 50px;
            padding-left: 15px;
        }
        .shade_bg {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,e8edf2+50 */
            background: rgb(255, 255, 255);
        }
        .contact-field .form-control {
            border: 1px solid #eee;
        }
        .m-col {
            max-width: 100%;
            padding: 0 3px;
        }
        .page_section {
            padding-top: 10px;
        }
        .link_circle a,
        .link_circle {
            width: 70px;
            height: 70px;
        }
        .fixed-top.darkHeader .navbar .nav-link {
            padding: 1rem 2rem;
        }
        .navbar .nav-link:hover,
        .navbar .nav-link.active {
            color: #fff;
            background: #1FA0D8;
        }
        .input-group-lg>.form-control,
        .input-group-lg>.input-group-append>.btn {
            font-size: 14px;
        }
        .navbar-toggler {
            border-color: #fff;
            padding: .25rem .5rem;
            width: 45px;
            height: 35px;
        }
        .navbar-toggler-icon {
            background: #fff;
            width: 27px;
            height: 2px;
            position: relative;
            float: left;
            margin: 3px;
            margin-left: 0px;
        }
        .navbar-collapse {
            position: relative;
            width: 100%;
            background: #32394B;
            margin: 0 -25px;
        }
        .navbar-nav.float-right {
            float: none !important;
        }
        .navbar-brand img {
            width: 140px;
        }
        .container {
            max-width: 98%;
        }
        .banner_section {
            position: relative;
            padding-bottom: 0px;
        }
        .page_section {
            margin-top: 0;
            padding-top: 30px;
        }
        .page_section.inner {
            margin-top: 0px;
        }
        .page_section.inner .row.mt-5.justify-content-center {
            margin-top: 0 !important;
        }
        .navbar.navbar-expand-lg {
            padding: 0;
        }
        .hidden-md-down {
            display: none;
        }
        .co_questions.mt-4 {
            margin-top: -15px !important;
        }
        .header_search {
            width: 239px;
            right: 5px;
        }
        .header_search input {
            width: 68%;
        }
        .input-group .form-control {
            height: 45px;
        }
        .dropdown-item {
            padding: .50rem 1rem;
        }
        .menu-drop a>div {
            min-width: 160px;
        }
        .menu-drop .dropdown-item {
            padding-right: 0px;
        }
        .graphic-area {
            padding-left: 10px;
        }
    }
    
    @media(max-width:576px) {
        .m-h1 {
            font-size: 22px;
        }
        .second-f div[class*="col-"] {
            text-align: center !important;
            padding: 10px;
        }
        .footer-list,
        .social-media {
            text-align: center;
            margin-bottom: 10px;
        }
        footer .media {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 15px;
            margin-bottom: 10px;
            display: block;
            text-align: center;
        }
        footer .media .mr-4 {
            margin-bottom: 10px;
            margin-right: 0 !important;
        }
        .footer-list li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .white_box h4 {
            font-size: 12px;
            border: none;
        }
        .white_box img {
            width: 80px;
        }
        .white_box p {
            display: none;
        }
        .banner_section {
            padding-top: 130px;
        }
        .banner_section.inner {
            padding-bottom: 0;
        }
        .bottom_box {
            margin-bottom: 0;
            padding: 8px 10px;
        }
        .bottom_box p {
            margin-bottom: 0;
        }
        .m-logo {
            display: block;
            width: 150px !important;
            margin-top: 8px;
        }
        .fixed-top.darkHeader .m-logo {
            width: 105px !important;
        }
        .w-logo {
            display: none;
        }
        .trans_bg {
            padding-bottom: 30px;
            bottom: 0;
        }
        .search_box.stick {
            width: 302px;
        }
    }
    
    @media(max-width:480px) {
        .search_box.stick {
            width: 100%;
            right: 0;
            top: 61px;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            padding: 5px;
            z-index: 1;
        }
        .search_box.stick .input-group .form-control {
            border: 1px solid rgba(0, 0, 0, 0.1) !important;
        }
    }
    
    .message {
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        width: 300px;
        background: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        padding: 30px;
        text-align: center;
        font-weight: 300;
        color: #2c2928;
        opacity: 0;
        z-index: 1000;
        transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
        box-shadow: 0 9px 16px -11px;
    }
    
    .message .check {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
        -webkit-transform: translate(-50%, -50%) scale(4);
        -moz-transform: translate(-50%, -50%) scale(4);
        width: 120px;
        height: 110px;
        background: #7373ff;
        color: white;
        font-size: 3.8rem;
        padding-top: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        opacity: 0;
        z-index: 1000;
        transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
        -webkit-transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
        -moz-transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
    }
    
    .message .scaledown {
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    
    .message p {
        font-size: 1.1rem;
        margin: 25px 0px;
        padding: 0;
    }
    
    .message p:nth-child(2) {
        font-size: 2.3rem;
        margin: 40px 0px 0px 0px;
    }
    
    .message #ok {
        position: relative;
        color: white;
        border: 0;
        background: #7373ff;
        ;
        width: 100%;
        height: 50px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        font-size: 1.2rem;
        transition: background 0.2s ease;
        outline: none;
    }
    
    .message #ok:hover {
        background: #4F4F4F;
    }
    
    .message #ok:active {
        background: #4F4F4F;
    }
    
    .comein {
        top: 150px;
        opacity: 1;
        position: fixed;
    }
    
    .blue-btn {
        background: #4862A3;
    }
    /*end css for popup*/
    
    .capitalFirstText {
        text-transform: capitalize;
    }
    
    .mat-dialog-container {
        width: 300px;
    }
    
    .successpop {
        width: 350px;
        height: auto;
        top: 100px;
        position: fixed;
        z-index: 2050;
        margin: 0 auto;
        right: -150%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        text-align: center;
        padding: 20px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .2);
        display: -webkit-flex;
        align-content: center;
        align-items: center;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .successpop.active {
        right: 5%;
    }
    
    .success_message {
        background: #ffffff;
        background: -moz-linear-gradient(-45deg, #ffffff 50%, #f3ffe1 50%);
        background: -webkit-linear-gradient(-45deg, #ffffff 50%, #f3ffe1 50%);
        background: linear-gradient(135deg, #ffffff 50%, #f3ffe1 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3ffe1', GradientType=1);
    }
    
    .faild_message {
        background: #ffffff;
        background: -moz-linear-gradient(-45deg, #ffffff 50%, #ffe9e9 50%);
        background: -webkit-linear-gradient(-45deg, #ffffff 50%, #ffe9e9 50%);
        background: linear-gradient(135deg, #ffffff 50%, #ffe9e9 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffe9e9', GradientType=1);
    }
    
    .custom-tabs .mat-tab-labels {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        color: #fff;
    }
    
    .custom-tabs .mat-tab-label-active {
        background: #d10c2a;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        color: #fff;
    }
    
    .custom-tabs .mat-tab-labels {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        background-color: #545454;
    }
    
    .custom-tabs .mat-tab-label,
    .mat-tab-link {
        color: rgba(255, 255, 255, 1);
    }
    
    .custom-tabs .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: transparent;
    }
    
    .custom-tabs .mat-tab-header,
    .mat-tab-nav-bar {
        border-bottom: none;
    }
    
    .custom-tabs .mat-tab-label {
        height: 42px;
    }
    
    .like_box {
        background: #ffffff;
        color: #D6D6D6;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        width: 50px;
        height: 50px;
        display: inline-flex;
        display: -webkit-inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: solid 1px #D6D6D6;
        margin: 15px 2px;
        font-size: 20px;
    }
    
    .like_box:hover,
    .like_box.active {
        color: white;
        background: #1FA0D8;
        border-color: #1FA0D8;
        cursor: pointer;
    }
    
    .page_section .white-box {
        padding: 15px;
        background: #fff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #eee;
    }
    
    .page_section .white-box.list-group li {
        list-style-type: none;
    }
    
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.5 !important;
    }
    
    .page_section .white-box.list-group li a {
        padding: 1rem 0.7rem;
        display: block;
        color: #333;
        border-bottom: 1px solid #eee;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        position: relative;
        text-transform: capitalize;
    }
    
    .page_section .white-box.list-group li a:before {
        position: absolute;
        left: 0px;
        content: '\f105';
        font-family: fontAwesome;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    
    .page_section .white-box.list-group li:last-child a {
        border: none;
    }
    
    .page_section .white-box.list-group li a:hover {
        text-decoration: none;
        padding-left: 1rem;
        color: #1FA0D8;
    }
    
    .page_section .white-box.list-group li a:hover:before {
        left: 4px;
    }
    
    .circle-icon.list-animation {
        opacity: 1;
        transform: translateY(0px);
    }
    
    .circle-icon {
        border-radius: 50%;
        opacity: 0;
        transform: translateY(150px);
        transition: all 1s;
        background: #44aee0 none repeat scroll 0 0;
        border-radius: 100px;
        height: 150px;
        width: 150px;
        margin: 0 auto;
        line-height: 150px;
    }
    
    .capitalFirstText {
        text-transform: capitalize;
    }