<script src="http://34.231.75.89/service/nodeservices/socket.io.js"></script>

<button onclick="return click_test();">button</button>
<script>
   var name ="";
   var socket = io.connect("http://34.231.75.89:8080/"); 
   
   function click_test(){
	   alert('before response');
	   var testdata = JSON.stringify({
		"user_id": 1,
		"user_name": 2,
		
	});
   socket.emit("appTest", testdata, function(response) {
	   alert('sdadd');
   });
}

</script>
