<!-- https://aquantuo.com/services/authentication.php/registration-->
<form action="http://192.168.11.101/aq/services/authentication.php/registration" method="post">
	
firstName <input type="text" name="firstName" value="Ajay" />
<br/>
email <input type="text" name="email" value="ajay@idealtechnologys.com" />
<br/>	
password <input type="text" name="password" value="123456" />
<br/>
deviceType <input type="text" name="deviceType" value="android" />
<br/>
deviceId <input type="text" name="deviceId" value="123444" />
<br/>
userType <input type="text" name="userType" value="transporter" />
<br/>
appVersion <input type="text" name="appVersion" value="1.0" />
<br/>
notificationId <input type="text" name="notificationId" value="121212" />
<br/>
<input type="submit" name="submit" value="Submit" />
</form>